<!DOCTYPE html>
<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Home</title>
  </head>
  <body>
    <div id="navbar"></div>
    <div id="app">
      <div class="container-fluid">
        <div class="card-deck">
          <div class="card-block">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum metus eu justo feugiat, eget pellentesque neque aliquet. Integer ultrices cursus metus, id luctus erat fringilla sed. Donec sit amet neque consectetur, pellentesque dolor vitae, euismod lorem. Nam non blandit mi, vitae mollis libero. Phasellus et lacus in ligula ullamcorper ornare. Ut consequat arcu a ullamcorper faucibus. Aliquam non feugiat mauris. Suspendisse convallis massa vehicula arcu consectetur, et scelerisque nulla finibus. Aenean sit amet gravida diam.
            <div class="centering text-center" style="text-align: center;
    margin: 160px 0;">

                {{name}} в аккаунте
            </div>

            <form method="post" action="/add" style="text-align: center;
    margin: auto 0;">

                  <label for="title">Заголовок</label><br>
                  <input type="text" id="title" name="title"><br>

                  <label for="desc">Описание</label><br>
                  <textarea id="desc" name="desc" cols="22" rows="5"></textarea><br>

                  <input type="submit" name="add" value="Добавить"><br>

            </form>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum metus eu justo feugiat, eget pellentesque neque aliquet. Integer ultrices cursus metus, id luctus erat fringilla sed. Donec sit amet neque consectetur, pellentesque dolor vitae, euismod lorem. Nam non blandit mi, vitae mollis libero. Phasellus et lacus in ligula ullamcorper ornare. Ut consequat arcu a ullamcorper faucibus. Aliquam non feugiat mauris. Suspendisse convallis massa vehicula arcu consectetur, et scelerisque nulla finibus. Aenean sit amet gravida diam.
          </div>
        </div>
      </div>
    </div>

    <!-- scripts and styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}
    {% style "/css/screen.css" %}

    <script type="text/javascript">
        var context = "{{servlet-context}}";

    </script>


  </body>
</html>




